<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Продукт</h2>
<form th:method="post">
    <table>
        <tr>
            <td th:text="'ID продукта: ' + ${model.id}"/>
        </tr>
        <tr>
            <td>
                <label for="name">Название продукта</label>
                <input name="nam" id="name" th:value="${model.name}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Описание продукта</label>
                <textarea name="des" id="description" th:text="${model.description}"/>
            </td>
        </tr>
    </table> <br/>
    <button type="submit">Изменить</button>
</form> <br/> <hr/> <br/>

<a href="/catalog">Вернуться на главную</a>
</body>
</html>